<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HotelTools</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<MudPaper Width="250px" Class="py-3" Elevation="0">    
    <MudNavMenu>
        <MudText Typo="Typo.h6" Class="px-4">Modulos</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Administración de Módulos</MudText>
        <MudDivider Class="my-2" />

        <MudNavGroup Title="Inventarios" Icon="@Icons.Material.Filled.Inventory" Expanded="false">
            <MudNavLink Href="/">Panel de Habitaciones</MudNavLink>
            <MudNavLink Href="/">Control Habitacional</MudNavLink>
        </MudNavGroup>
       
    </MudNavMenu>
</MudPaper>
<div style="position:absolute; bottom:0;">
<MudPaper Width="250px" Class="py-3" Elevation="0">
    <MudNavMenu Color="Color.Info" Rounded="true" Margin="Margin.Dense" Class="m-3 p-1">
        <MudText Typo="Typo.h6" Class="px-4">Configuraciones</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Panel Admin</MudText>
        <MudDivider Class="my-2" />
        <MudNavGroup Title="Configuraciones Globales" Icon="@Icons.Material.Filled.Settings" Expanded="false">
            <MudNavLink Href="/">Habitaciones</MudNavLink>
            <MudNavLink Href="/">Departamentos</MudNavLink>
            <MudNavLink Href="/">Categoria Habitaciones</MudNavLink>
            <MudNavGroup Title="Usuarios" Expanded="false">
                <MudNavLink Href="/">Personal</MudNavLink>
                <MudNavLink Href="/">Roles</MudNavLink>
            </MudNavGroup>
        </MudNavGroup>
            <MudNavGroup Title="Inventario" Icon="@Icons.Material.Filled.SettingsApplications" Expanded="false">
            <MudNavLink Href="/">Modelos</MudNavLink>
            <MudNavLink Href="/">Productos</MudNavLink>            
            <MudNavLink Href="/">Categoria Productos</MudNavLink>
        </MudNavGroup>
            <MudNavGroup Title="Proveedores" Icon="@Icons.Material.Filled.SupervisedUserCircle" Expanded="false">
                <MudNavLink Href="/">Registros de Proveedores</MudNavLink>
                <MudNavLink Href="/">Razón Social</MudNavLink>                
            </MudNavGroup>
            <MudDivider Class="my-2"/>
        <MudNavLink Href="/about">About</MudNavLink>
    </MudNavMenu>
</MudPaper>
</div>

@* <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click() ">
    <nav class="flex-column display-flex justify-content-center">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Configuraciones
            </NavLink>
        </div>
        <MudPaper style="width:80%;">
            <MudLink Href="/" style="text-align:center">Probando</MudLink>
        </MudPaper>
    </nav>
</div> *@