@using HotelTools.Components.Pages
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <p>Lo sentimos, no tienes permiso para ver esta página.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <h1>Página no encontrada</h1>
                <p>Lo sentimos, la página que estás buscando no existe.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


@code{
    // [Inject]
    // private IJSRuntime js { get; set; }
    // [Inject]
    // private NavigationManager nav { get; set; }
    // [CascadingParameter]
    // private Task<AuthenticationState> AuthenticationTask { get; set; }
    // protected override async Task OnInitializedAsync()
    // {
    //     var authState = await AuthenticationTask;
    //     if (authState?.User?.Identity?.IsAuthenticated == true)
    //     {
    //         string message = $"Hola {authState.User.Identity.Name}";
    //         Console.WriteLine(message); // Depuración
    //     }
    //     else
    //     {
    //         Console.WriteLine("User is not authenticated in OnInitializedAsync."); // Depuración
    //     }
    // }
}
